body {
    padding: 0;
    margin: 0;
    font-family: 'arial';
}

.rootContainer {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox {
    background-color: thistle;
    width: 30%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

form {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding:20px 20px 20px 20px;
}

#heading {
    font-size: 24px;
    font-weight: bold;
}


#amount {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    border: none;
}

#description {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    border: none;
}

#category {
    display: block;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    border: none;
}

button {
    display: block;
    padding: 10px 5px;
    background-color: purple;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

#showExpense {
    margin-top: 10px;
}


#showExpense a {
    text-decoration: none;
}

